body {
  background-color: #131313;
  color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.game {
  background-color: #2d2d2d;
  padding: 15px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

/* Fade-in animation */
/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* Grid container for the tic tac toe board */
.game-board {
  display: grid;
  grid-template-columns: repeat(3, 150px); /* 3 equal columns of 150px each */
  grid-gap: 8px; /* Space between grid items */
  justify-content: center;
  align-items: center;
  background: rgb(91, 91, 91); /* Background color for checkerboard */
  padding: 0px;
  margin: 20px;
  /* animation: fadeIn 1s ease-in-out 0.4s;
  opacity: 0; 
  animation-fill-mode: forwards;  */
}

.grid-button {
  width: 150px;  /* Set fixed width */
  height: 150px; /* Set fixed height */
  border-radius: none;
  border: none;
  background-color: #2d2d2d;
  font-family: 'Mochiy Pop One';
  font-size: 100px; /* Large font size */
  font-weight: 900;
  color: #2d2d2d00; /* Match the text color to the background initially */
  display: flex; /* Use flexbox for centering text */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  transition: color 0.2s; /* Smooth transition for color */
  
}
.grid-button:hover {
  cursor: pointer;
}

.grid-button.active { /* Add this class when the button is clicked */
  color: #131313; /* Change text color to make X or O visible */
}

.restart-button {
  border: none;
  padding: 15px 23px;
  border-radius: 5px;
  background-color: chocolate;
  font-size: 15px;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s; /* Smooth transition for background color */
}

.restart-button:hover {
  background-color: rgb(212, 122, 57);
  cursor: pointer;
}

.restart-button:active {
  background-color: rgb(211, 140, 90);
}
